temp=[th0temp-act=0.0]
humidity=[th0hum-act=0]
pressure=[thb0seapress-act=0.0]
wind=[wind0wind-act=0.0]
gust=[wind0gust-act=0.0]
winddir=[wind0dir-act=0]
rain=[rain0total-act=0.0]
rainrate=[rain0rate-act=0.0]
uv=[uv0index-act=0.0]
solar=[sol0rad-act=0]
dewpoint=[th0dew-act=0.0]